.header {
  display: flex;
  justify-content: center;
  height: $headerHeight;
  background-color:  $mainColor;
  overflow: visible;
  position: relative;
  padding: 0 2rem;
  z-index: 2;
  @media screen and(min-width: 800px){
    height: 5rem;
    padding: 0 0;
  }
}

.header__container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 0 5rem;
  position: relative;
  @media screen and(min-width: 800px){
    min-width: 500px;
    max-width: 500px;
  }
  a {
    font-family: $secondFont;
  }
}

.header__logo {
  flex-grow: 2;
}

.header__hamburger-menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

#menu__toggle {
  opacity: 0;
  user-select: none;
  z-index: 2;
  &:checked ~ .header-menu__dropdown {
    visibility: visible;
    opacity: 1;
  }
  &:checked ~ .menu__icon > span:nth-child(1) {
    transform: rotate(45deg) translate( 0, -1px);;
  }
  &:checked ~ .menu__icon > span:nth-child(3) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  &:checked ~ .menu__icon > span:nth-child(2) {
    opacity: 0;
  }
}

.menu__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 12px;
  user-select: none;
  cursor: pointer;
} 

.menu_btn {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  z-index: 1;

  transform-origin: 2px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

.header-menu__dropdown {
  top: $headerHeight;
  right: 0;
  display: block;
  z-index: 9999;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: $mainColor;
  box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, .2);
  transition: opacity 0.2s ease-in-out;
  a {
    font-weight: 200;
    font-size: 1rem;
  }
  @media screen and(min-width: 800px){
    top: 5rem;
  }
}
/* элементы меню */
.menu-item {
  display: block;
  padding: 15px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}