#request__form {
  box-sizing: border-box;
  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: none;
  }
  input {
    transition: 0.3s all linear;
  }
}

.request-list__new {
  &::after {
      content: "";
      position: absolute;
      bottom: 20%;
      left: 0;
      width: 100%;
      border-bottom: 4px solid $mainColor;
      }
}

.radionBtn {
  position: relative;
  top: 15px;
}

.request-list__element {
  padding-left: 40px;
  color: $fontColor;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 2.5rem;
  padding-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#request__description {
  height: 10rem;
  width: 100%;
  background-color: #fff;
}

#request__description {
  display: none;
  padding: .5rem .5rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: $fontColor;
  resize: none;
  box-sizing: border-box;
  border-radius: 3px;
  &:focus {
    border: none;
  }
}

.submit-btn {
  background-color: $mainColor;
  height: 60px;
  width: 100%;
  margin-top: 20px;
  font-size: 1.7rem;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.request-message {
  display: none;
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 200;
  h3 {
    color: $mainColor;
    font-weight: 200;
  }
  p {
    padding: 1.2rem 1.5rem;
  }
  a {
    color: $fontColor;
    text-decoration: underline;
    cursor: pointer;
  }
  & > a {
    font-weight: 500;
  }
}