//Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}
//---------------------------------

//Variables
$headerHeight: 4rem;
$mainColor: #00BD13;
$bgColor: #DBDBDB;
$fontColor: #4A4A4A;
$slFont: 1rem;
$bgFont: 1.3rem;
//---------------------------------

//Fonts

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Sf-compact-display', sans-serif;
  src: url('../fonts/sf-compact-display/sf-compact-display-medium.woff');
}

$mainFont: 'Roboto', sans-serif;
$secondFont: 'Sf-compact-display', sans-serif;

//---------------------------------


.button {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.3rem 3rem;
  background-color: #fff;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  text-decoration: none;
  color: $fontColor;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  &:hover{
    background-color: $mainColor;
    border: 1px solid $mainColor;
    color: #fff;;
  }
}

.wrap {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: $bgColor;
  font-family: $mainFont;
  font-size: $slFont;
  @media screen and(min-width: 800px){
    font-size: 1.3rem;
  }
}

@import 'login';

@import 'header';

@import 'categories';

@import 'request';

@import 'changepass';

@import 'profile';