.header
  .header__container
    .header__logo
      a(href="index.html")
        h1 MyOffice
    .header__hamburger-menu
      input(id="menu__toggle" type="checkbox")
      label(for="menu__toggle" class="menu__icon")
        span(class="menu_btn")
        span(class="menu_btn")
        span(class="menu_btn")
      ul(class="header-menu__dropdown")
        li(class="menu-item"): a(href="#") История
        li(class="menu-item"): a(href="#") Пароль
        li(class="menu-item"): a(href="login.html") Выйти
        li(class="menu-item"): a(href="login.html") Профиль