extends block__content.pug

block elements
  a.button(href="request.html") Электрик
  a.button(href="#") Сантехник
  a.button(href="#") Связь
  a.button(href="#") Уборка
  a.button(href="#") Безопасность
  a.button(href="#") Другое
  .categories__back
    a(href="index.html") Назад
