extends block__content.pug

block links
  a.links(href="#") Выбор запроса
  a.links(href="#") История


block elements
  a.button(href="/docs.html") Документы
  a.button(href="/categories.html") Услуги