<!DOCTYPE html>
html(lang="en")
  include ./includes/head
  body
    .wrap
      include ./includes/header
      .content
        a.button(href="/docs.html") Документы
        a.button(href="/categories.html") Услуги
      include ./includes/footer