<!DOCTYPE html>
html(lang="en")
  include ./includes/head
  body
    .wrap
      .header
        h1 MyOffice
        a.login(href="#") Admin
          ul.dropdown
            li item 1
            li item 2
            li item 3
      .content
        a.button(href="/docs.html") Документы
        a.button(href="") Услуги
      include ./includes/footer