<!DOCTYPE html>
html(lang="en")
  //-Head
  include ./includes/head
  body
    .wrap
      .login__wrap
        .login
          .login__logo
            h1 MyOffice
          .login__content
            h3 Авторизуйтесь
            form(action="index.html", class="login__form")
              input(id="GET-name" placeholder="Мобильный номер" type="email" class="login__input")
              input(id="GET-name" placeholder="Пароль" type="password" class="login__input")
              input(type="submit" value="Войти" class="submit-btn")
              a(href="#") Забыли пароль