@import '../../variables';

#office {
  display: flex;
  flex-direction: column;
  color: $fontColor;
}

.buildingItem {
  padding-top: 1rem;
  h4 {
    font-size: .8rem;
    font-weight: 200;
    color: #aaaaaa;
  }
  p {
    padding: .5rem 0;
    font-weight: 400;
  }
}

#buildingDescription {
  display: flex;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

.descriptionItem {
  padding-right: 3rem;
}

.informationItem {

}